.reply-header {
    text-align: left;
  }

  .submit {
    font-size: 14px;
    padding: 5px 10px;
    float: right;
    max-width: 150px;
    background-color: orange; /* add a background-color to set the button color to orange */
    border-radius: 20px; /* add a border-radius to make the button more circular */
  }
  