.menu-item {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    /* padding: 10px; */
    /* margin-bottom: 10px; */
    height: 152px;
    width: 500px;
    margin:0 auto
  }
  
  .menu-item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .menu-item-details {
    display: flex;
    flex-direction: column;
  }
  
  .menu-item-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .menu-item-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .menu-item-description {
    margin-bottom: 5px;
  }
  
  .menu-item-stars {
    margin-top: 5px;
    color: yellow;
  }
  
  .menu-item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .menu-item-button-edit {
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .menu-item-button-delete {
    margin-left: 5px;
    background-color: #dc3545;
    color: white;
    border: none;
  }
  