.login-page{
    max-width: 500px;
    margin: 0 auto;
}


@media (max-width: 576px) {
    .login-page {
        max-width: none;
        margin: 20px;
    }
}

.button-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.login-switch-button {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 10px;
}

.login-switch-button.active {
    background-color: #ff9100;
    color: #fff;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 10px;
}

.login-box{
    margin-bottom: 20px;
}

.input-box{
    margin: auto;
    display: block;
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 13px 14px;
    width: 620px;
}

.input-label{
    margin-left: 268px;
}
