.cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .cart-items-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
  }
  
  .cart-item-info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .cart-item-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .cart-item-price {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .cart-item-remove {
    font-size: 1.5rem;
    color: #d9534f;
    margin-left: auto;
    cursor: pointer;
  }
  
  .cart-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    border: 1px solid #ddd;
  }
  
  .cart-total {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .checkout-button {
    background-color: #36f4a5;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
  }
  
  .checkout-button:hover {
    background-color: #50d32f;
  }

  .goback{
    float: right;
  }
  