.noOutline{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.img{
    width: auto;
    height: 100px;
}
/* sss */
  .image-container {
    width: 120px;
    
    overflow: hidden;
    
    
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  