/* .header {
    width: 500px;
    height: 200px;
    background-image: url('https://via.placeholder.com/1500x500');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .restaurant-name {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }
  
  .star-rating {
    color: #ffd700;
    font-size: 24px;
    margin: 5px 0 0 0;
  }

  .item{
    
  } */

  /* .header-container {
    width: 500px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-logo-container {
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .header-name {
    font-size: 36px;
    margin: 0;
  }
  
  .header-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .header-rating p {
    margin: 0;
    margin-left: 5px;
  } */
  
  .header-container {
    background-size: cover;
    background-position: center center;
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    margin:0 auto;
  }
  
  .header-logo-container {
    display: inline;
    flex-direction: column;
    align-items: center;
  }
  .name{
    display: block;
  }
  .header-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .header-name {
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .header-rating {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .header-rating p {
    margin-left: 5px;
    font-size: 20px;
  }
  
  @media (max-width: 576px) {
    .header-container {
      width: 100%;
    }
  }
  