.input-border {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  margin-right: 10px;
}

.close {
  border: none;
  background-color: transparent;
  color: inherit;
  opacity: 1;
}

.close:hover,
.close:focus {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}